
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    color: #ffffff;
    background-color: #1f2a35;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.875rem;
}

h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
}

p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.25rem;
}

a {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.875rem;
}



/*Mobile*/
@media only screen and (max-width: 480px) {

}

/*Tablet*/
@media only screen and (max-width: 768px) {

}